header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.menu-hamburguer {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.traco {
  background-color: black;
  border-radius: 30px;
  display: block;
  height: 3px;
  margin: 4.25px 0;
  transition: 0.5s;
  width: 100%;
}

.traco-1, .traco-3 {
  transform-origin: right center;
}

.menu-hamburguer.ativo .traco-1 {
  transform: rotateZ(-45deg);
}

.menu-hamburguer.ativo .traco-2 {
  opacity: 0;
}

.menu-hamburguer.ativo .traco-3 {
  transform: rotateZ(45deg);
}

.nav-menu-hamburguer {
  align-items: center;
  /* display: none; */
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  transform: translateX(-100%);
  transition: 1s;
}

.visivel {
  transform: translateX(0);
}